<ul class="social-links">
  {% if settings.show-behance-link != blank %}
    <li class="social-link social-links__behance">
      <a
        class="social-link__link"
        href="{{ settings.show-behance-link | escape }}"
        aria-label="Behance"
      >
        {% render 'icon-library', id: 'icon-behance' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-clubhouse-link != blank %}
    <li class="social-link social-links__clubhouse">
      <a
        class="social-link__link"
        href="{{ settings.show-clubhouse-link | escape }}"
        aria-label="Clubhouse"
      >
        {% render 'icon-library', id: 'icon-clubhouse' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-discord-link != blank %}
    <li class="social-link social-links__discord">
      <a
        class="social-link__link"
        href="{{ settings.show-discord-link | escape }}"
        aria-label="Discord"
      >
        {% render 'icon-library', id: 'icon-discord' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-dribbble-link != blank %}
    <li class="social-link social-links__dribbble">
      <a
        class="social-link__link"
        href="{{ settings.show-dribbble-link | escape }}"
        aria-label="Dribbble"
      >
        {% render 'icon-library', id: 'icon-dribbble' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-email-link != blank %}
    <li class="social-link social-links__email">
      <a
        class="social-link__link"
        href="mailto:{{ settings.show-email-link }}"
        aria-label="email"
      >
        {% render 'icon-library', id: 'icon-email' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-facebook-link != blank %}
    <li class="social-link social-links__facebook">
      <a
        class="social-link__link"
        href="{{ settings.show-facebook-link | escape }}"
        aria-label="Facebook"
      >
        {% render 'icon-library', id: 'icon-facebook' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-flickr-link != blank %}
    <li class="social-link social-links__flickr">
      <a
        class="social-link__link"
        href="{{ settings.show-flickr-link | escape }}"
        aria-label="Flickr"
      >
        {% render 'icon-library', id: 'icon-flickr' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-houzz-link != blank %}
    <li class="social-link social-links__houzz">
      <a
        class="social-link__link"
        href="{{ settings.show-houzz-link | escape }}"
        aria-label="Houzz"
      >
        {% render 'icon-library', id: 'icon-houzz' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-instagram-link != blank %}
    <li class="social-link social-links__instagram">
      <a
        class="social-link__link"
        href="{{ settings.show-instagram-link | escape }}"
        aria-label="Instagram"
      >
        {% render 'icon-library', id: 'icon-instagram' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-kickstarter-link != blank %}
    <li class="social-link social-links__kickstarter">
      <a
        class="social-link__link"
        href="{{ settings.show-kickstarter-link | escape }}"
        aria-label="Kickstarter"
      >
        {% render 'icon-library', id: 'icon-kickstarter' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-linkedin-link != blank %}
    <li class="social-link social-links__linkedin">
      <a
        class="social-link__link"
        href="{{ settings.show-linkedin-link | escape }}"
        aria-label="LinkedIn"
      >
        {% render 'icon-library', id: 'icon-linkedin' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-medium-link != blank %}
    <li class="social-link social-links__medium">
      <a
        class="social-link__link"
        href="{{ settings.show-medium-link | escape }}"
        aria-label="Medium"
      >
        {% render 'icon-library', id: 'icon-medium' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-messenger-link != blank %}
    <li class="social-link social-links__messenger">
      <a
        class="social-link__link"
        href="{{ settings.show-messenger-link | escape }}"
        aria-label="Messenger"
      >
        {% render 'icon-library', id: 'icon-messenger' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-opensea-link != blank %}
    <li class="social-link social-links__opensea">
      <a
        class="social-link__link"
        href="{{ settings.show-opensea-link | escape }}"
        aria-label="OpenSea"
      >
        {% render 'icon-library', id: 'icon-opensea' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-pinterest-link != blank %}
    <li class="social-link social-links__pinterest">
      <a
        class="social-link__link"
        href="{{ settings.show-pinterest-link | escape }}"
        aria-label="Pinterest"
      >
        {% render 'icon-library', id: 'icon-pinterest' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-reddit-link != blank %}
    <li class="social-link social-links__reddit">
      <a
        class="social-link__link"
        href="{{ settings.show-reddit-link | escape }}"
        aria-label="Reddit"
      >
        {% render 'icon-library', id: 'icon-reddit' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-rss-link != blank %}
    <li class="social-link social-links__rss">
      <a
        class="social-link__link"
        href="{{ settings.show-rss-link | escape }}"
        aria-label="RSS"
      >
        {% render 'icon-library', id: 'icon-rss' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-snapchat-link != blank %}
    <li class="social-link social-links__snapchat">
      <a
        class="social-link__link"
        href="{{ settings.show-snapchat-link | escape }}"
        aria-label="Snapchat"
      >
        {% render 'icon-library', id: 'icon-snapchat' %}
      </a>
    </li>
  {% endif %}
   {% if settings.show-spotify-link != blank %}
    <li class="social-link social-links__spotify">
      <a
        class="social-link__link"
        href="{{ settings.show-spotify-link | escape }}"
        aria-label="Spotify"
      >
        {% render 'icon-library', id: 'icon-spotify' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-tiktok-link != blank %}
    <li class="social-link social-links__tiktok">
      <a
        class="social-link__link"
        href="{{ settings.show-tiktok-link | escape }}"
        aria-label="TikTok"
      >
        {% render 'icon-library', id: 'icon-tiktok' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-tumblr-link != blank %}
    <li class="social-link social-links__tumblr">
      <a
        class="social-link__link"
        href="{{ settings.show-tumblr-link | escape }}"
        aria-label="Tumblr"
      >
        {% render 'icon-library', id: 'icon-tumblr' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-twitch-link != blank %}
    <li class="social-link social-links__twitch">
      <a
        class="social-link__link"
        href="{{ settings.show-twitch-link | escape }}"
        aria-label="Twitch"
      >
        {% render 'icon-library', id: 'icon-twitch' %}
      </a>
    </li>
  {% endif %}
  {% if settings.show-x-link != blank %}
    <li class="social-link social-links__x">
      <a
        class="social-link__link"
        href="{{ settings.show-x-link | escape }}"
        aria-label="X"
      >
        {% render 'icon-library', id: 'icon-x' %}
      </a>
    </li>
  {% endif %}

  {% if settings.show-vimeo-link != blank %}
    <li class="social-link social-links__vimeo">
      <a
        class="social-link__link"
        href="{{ settings.show-vimeo-link | escape }}"
        aria-label="Vimeo"
      >
        {% render 'icon-library', id: 'icon-vimeo' %}
      </a>
    </li>
  {% endif %}

  {% if settings.show-whatsapp-link != blank %}
    <li class="social-link social-links__whatsapp">
      <a
        class="social-link__link"
        href="{{ settings.show-whatsapp-link | escape }}"
        aria-label="WhatsApp"
      >
        {% render 'icon-library', id: 'icon-whatsapp' %}
      </a>
    </li>
  {% endif %}

  {% if settings.show-youtube-link != blank %}
    <li class="social-link social-links__youtube">
      <a
        class="social-link__link"
        href="{{ settings.show-youtube-link | escape }}"
        aria-label="YouTube"
      >
        {% render 'icon-library', id: 'icon-youtube' %}
      </a>
    </li>
  {% endif %}
</ul>
