<script
  type="application/json"
  data-section-type="static-header"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "sticky_header": "{{ section.settings.sticky_header }}",
    "enable_predictive_search": "{{ section.settings.enable_predictive_search }}"
  }
</script>

{% assign logo = section.settings.logo %}
{% if logo %}
  {% assign logo_width = section.settings.logo_width | append: 'x' %}
  {% assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio %}
  {% assign logo_height_mobile = section.settings.logo_width_mobile | divided_by: section.settings.logo.aspect_ratio %}
{% endif %}

{% comment %}
  The outer wrapper needs to have styles applied to it in order for the sticky header to work.
  Unfortunately we cannot put this into the stylesheet because there's no way for that wrapper to know
  that the header is supposed to be sticky. This is also the case with the header-controls since
  webkit has issues with nested sticky elements. :S
{% endcomment %}
<style>
  body {
    {% if logo %}
      --header-logo-height: {{ logo_height | append: 'px' }};
      --header-logo-height-mobile: {{ logo_height_mobile | append: 'px' }};
      --header-logo-width: {{ section.settings.logo_width | append: 'px' }};
      --header-logo-width-mobile: {{ section.settings.logo_width_mobile | append: 'px' }};
    {% else %}
      {% comment %} Height of an <h1> including line height {% endcomment %}
      --header-logo-height: 2.6875rem;
      --header-logo-height-mobile: 1.9375rem;
    {% endif %}
  }

  .header-controls {
    {% unless section.settings.sticky_header %}
      position: relative;
      top: auto;
    {% endunless %}
  }
</style>

{% render 'header-controls' %}

<div
  class="
    site-header-container
    {% if section.settings.sticky_header %}
      site-header-container--sticky
    {% endif %}
  "
  data-site-header-container
>
  <header
    class="
      site-header
      {% if section.settings.sticky_header %}
        site-header--sticky
      {% endif %}
    "
    data-site-header
  >
    <div class="site-header__wrapper">
      <h1 class="site-header__heading" data-header-logo>
        {% if logo %}
          <a href="{{ routes.root_url }}" class="site-header__logo" aria-label="{{shop.name}}">
            {%
              render 'rimg',
              img: section.settings.logo,
              size: logo_width,
              focal_point: section.settings.logo.presentation.focal_point,
            %}
          </a>
        {% else %}
          {{ shop.name | link_to: routes.root_url }}
        {% endif %}
      </h1>

      <nav class="site-navigation" aria-label="{{ 'general.accessibility.main_navigation' | t }}">
        {% render 'navigation-desktop' %}
      </nav>
    </div>
  </header>

  {% render 'search-flyout' %}
</div>

{% render 'navigation-mobile' %}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "sticky_header",
      "label": "t:sections.header.sticky_header.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.header_1.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.header.logo_width.label",
      "min": 50,
      "max": 500,
      "step": 5,
      "unit": "px",
      "default": 125
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:sections.header.logo_width_mobile.label",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 115
    },
    {
      "type": "header",
      "content": "t:sections.header.header_2.content"
    },
    {
      "type": "checkbox",
      "id": "enable_predictive_search",
      "label": "t:sections.header.enable_predictive_search.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.header_3.content"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "t:sections.header.main_menu.label",
      "default": "main-menu"
    }
  ],
  "blocks": [
    {
      "type": "megamenu",
      "name": "t:sections.header.blocks.megamenu.name",
      "settings": [
        {
          "id": "meganav_trigger",
          "type": "text",
          "label": "t:sections.header.blocks.megamenu.meganav_trigger.label",
          "info": "t:sections.header.blocks.megamenu.meganav_trigger.info"
        }
      ]
    }
  ]
}

{% endschema %}